@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/CardStyles.css" />
    <link rel="stylesheet" href="~/css/payment.css" />
}
@section Scripts
{
    <script type="text/javascript" src="~/js/payment.js"></script>
    <script type="text/javascript">
        app.initCheckout();
    </script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<partial name="Checkout" for="@Model.Invoice" />